<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kalkulator</title>
    </head>
    <body>
        <form action="../kontrol/obj_kalkulator.php" method="post">
            Nilai 1 : <input type="number" name="nil1" id="" /><br />
            Nilai 2 : <input type="number" name="nil2" id="" /><br />
            <input type="submit" name="" value=" + " id="" />
        </form>
    </body>
</html>
